body{
    background-color: rgb(244, 238, 227);
    margin: 0;
    padding:0;
}

header{
    background-color: orangered;
    padding: 20px;
    color: white;
}

header h1{
    color : white;
}


.item{
    text-align: center;
}

.menu{
    display:flex;
}